<div class="order_card">
    <div class="order_card_merchant ">
        <img class="order-1 w-8 h-8 mr-2 rounded-full col-span-2"
             src="https://img.alicdn.com//imgextra/i4/2209544466960/O1CN019cJ03q21HjFZdjhrG_!!2209544466960-2-koubei.png_100x100.jpg"
             alt="Logo">
        <h1 class="order-2  col-span-6">店铺名称</h1>

        <svg t="1685676014004" class="order-3 icon flex justify-items-center" viewBox="0 0 1024 1024" version="1.1"
             xmlns="http://www.w3.org/2000/svg" p-id="1866" width="16" height="16">
            <path d="M761.6 489.6l-432-435.2c-9.6-9.6-25.6-9.6-35.2 0-9.6 9.6-9.6 25.6 0 35.2l416 416-416 425.6c-9.6 9.6-9.6 25.6 0 35.2s25.6 9.6 35.2 0l432-441.6C771.2 515.2 771.2 499.2 761.6 489.6z"
                  p-id="1867"></path>
        </svg>

        <span class="order-4">订单状态</span>
    </div>
    <div class="block">
        <p class="ml-2 text-gray-700">超出配送范围</p>
    </div>

    <div class="mb-4 flex flex-wrap justify-center items-center">
        <div class="justify-items-center items-center mb-4">
            <div class="w-2/3 mr-4 img_card_list">
                {{template "img_card.html" .}}
                <h2 class="font-bold mb-2">原味猪肉鸡蛋肠粉+肉末汤</h2>

            </div>
            <div class="w-11/12">
                <div class="flex justify-between">
                    <div class="text-2xl font-bold text-red-500">¥9.9</div>
                    <div class="text-gray-500">共1件</div>
                </div>
            </div>
        </div>
    </div>




    <div class="mt-4">
        <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Add to Cart</button>
    </div>
</div>
