<div class="dish-card">
    <div class="dish-card-img">
        <img src="https://pic.616pic.com/ys_img/00/15/52/bHo9fwepW4.jpg"
             alt="Logo"></div>
    <div class="dish-card-content">
        <!--            <h1 class="text-2xl font-semibold mb-2">{{.Name}}</h1>-->
        <!--            <p class="text-sm text-gray-500 mb-2">￥{{.Price}}</p>-->
        <!--            <p class="text-sm mb-4">{{.Description}}</p>-->
        <h1 class="text-2xl font-semibold mb-2">广式鲜虾肠粉</h1>
        <p class="text-sm text-gray-500 mb-2">新鲜虾仁</p>
        <p class="text-sm mb-4">￥15</p>
    </div>
    <div class="dish-card-button">
        <button class="p-2 bg-gray-300 hover:bg-gray-400 rounded-l" id="decrement">-</button>
        <span class="p-2 bg-gray-100 border border-gray-300" id="counter">0</span>
        <button class="p-2 bg-gray-300 hover:bg-gray-400 rounded-r" id="increment">+</button>
        <script>
            // 获取相关元素
            const decrementButton = document.getElementById('decrement');
            const incrementButton = document.getElementById('increment');
            const counterElement = document.getElementById('counter');

            // 初始化计数器值
            let counter = 0;
            counterElement.textContent = counter;

            // 监听减少按钮点击事件
            decrementButton.addEventListener('click', () => {
                counter--;
                counterElement.textContent = counter;
            });

            // 监听增加按钮点击事件
            incrementButton.addEventListener('click', () => {
                counter++;
                counterElement.textContent = counter;
            });
        </script>
    </div>


</div>
