<a href="/merchant/detail">
    <div class="merchant-card">

        <img class="merchant-card-img "
             src="https://img.alicdn.com//imgextra/i4/2209544466960/O1CN019cJ03q21HjFZdjhrG_!!2209544466960-2-koubei.png"
             alt="Logo">

        <div class="merchant-card-content">
            <h1 class="text-2xl font-semibold mb-2">米洛肠粉</h1>
            <p class="text-sm text-gray-500 mb-2">￥15起送 | ￥3配送</p>
            <p class="text-sm mb-4">广东名小吃</p>

        </div>

    </div>

</a>
