<div class="order_card">
    <div class="order_card_merchant ">
        <div class="order-card-merchant-item">
            <img class="order-1 w-8 h-8 mr-2 rounded-full "
                 src="https://img.alicdn.com//imgextra/i4/2209544466960/O1CN019cJ03q21HjFZdjhrG_!!2209544466960-2-koubei.png_100x100.jpg"
                 alt="Logo">
        </div>
        <div class="order-card-merchant-item">

            <h1 class="order-2  col-span-6">米洛肠粉</h1>
        </div>
        <div class="order-card-merchant-item flex  flex-row">
            <svg t="1685676014004" class=" icon  " viewBox="0 0 1024 1024" version="1.1"
                 xmlns="http://www.w3.org/2000/svg" p-id="1866" width="16" height="16">
                <path d="M761.6 489.6l-432-435.2c-9.6-9.6-25.6-9.6-35.2 0-9.6 9.6-9.6 25.6 0 35.2l416 416-416 425.6c-9.6 9.6-9.6 25.6 0 35.2s25.6 9.6 35.2 0l432-441.6C771.2 515.2 771.2 499.2 761.6 489.6z"
                      p-id="1867"></path>
            </svg>
            <span>已完成</span>

        </div>

    </div>
    <div class="order_card_dish">
        <div class="order-card-merchant-item ">
            <p class="ml-2 text-gray-700">超出配送范围</p>
        </div>

        <div class="order-card-merchant-item flex flex-row">
            {{template "img_card.html" .}}
            <h2 class="font-bold mb-2">原味猪肉鸡蛋肠粉+肉末汤</h2>
        </div>
        <div class="order-card-merchant-item flex flex-col">

            <div class="text-2xl font-bold text-red-500">¥9.9</div>
            <div class="text-gray-500">共1件</div>
        </div>
    </div>


</div>
