<div class="order-total">
    <a class="block bg-neutral-800 rounded-md w-3/4 flex items-center justify-center ">
      <div class="flex-row">
          <div class="text-white font-bold ">¥15.00</div>
          <p class="text-gray-500">另需配送费3元</p>

      </div>
    </a>
    <a href="/order/pay" class="block bg-green-400 rounded-md w-1/4 flex items-center justify-center">
        <button class="bg-green-400 rounded-md text-white">
            <h1 class="text-white">结算</h1>
        </button>
    </a>
</div>
