<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
<div class="app">
    <img src="/assets/images/LoginHeader.png" class="LoginHeader" alt="logo" width="100" height="100">
    <form class="text-3xl" action="{{.api.customers.register}}" method="POST">
        <div class="form-group">
            <input class="form-input" type="tel" maxlength="11" id="phone" name="phone" required placeholder="手机号">
        </div>
        <div class="form-group">
            <input class="form-input" type="text" id="username" name="username" required placeholder="用户名">
        </div>
        <div class="form-group">
            <input class="form-input" type="password" id="password" name="password" required placeholder="密码">
        </div>
        <div class="form-group">
            <input class="form-input" type="text" id="address" name="address" required placeholder="地址">
        </div>
        <div class="flex flex-row">
            <button class="custom_button" type="submit">注册</button>
            <button class="custom_button" type="button" onclick="redirectToRegistration()">登录</button>

        </div>

    </form>
</div>

<script>
    function redirectToRegistration() {
        window.location.href = "/login"; // 替换为你的注册页面的 URL
    }
</script>
</body>
</html>
